<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="DLToolkit.Forms.Controls.FlowListView" version="2.0.10" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Ideine.ModernHttpClient" version="3.2.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.NETCore.Platforms" version="2.1.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.NETCore.Targets" version="2.1.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmLightLibs" version="5.4.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="runtime.native.System" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Reflection" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Runtime" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Threading" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="ThriveGmbH.BottomNavigationBar.XF" version="1.0.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="3.0.0.550146" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.LiveReload" version="0.3.27" targetFramework="portable45-net45+win8+wpa81" />
</packages>